*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}

ul,
ol {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}
::-webkit-scrollbar{
    width: 0;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea,
optgroup {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: none;
    background: none;
    border: none;
}

textarea {
    resize: vertical;
}

b,
strong {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #e5e7eb;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    padding: 0;
}

[hidden] {
    display: none !important;
}

button,
[role="button"] {
    cursor: pointer;
}

:focus {
    outline: none;
}

main {
    display: block;
}

img {
    user-select: none;
}